# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/LB_12.6/FileContentIndex/7478e274-c887-4d65-916d-1db18c345a86.vsidx
/.vs/LB_12.6/FileContentIndex/cca9ee9b-53b4-4145-b9ce-cc38c14254ba.vsidx
/.vs/LB_12.6/v17
/UnitTest1/x64/Debug
/x64/Debug
